*{
    background-color: blanchedalmond;
}

.container{
    /*フレックス設定*/
    display:flex;
    flex-wrap: wrap;
    gap: 20px;

    /*全体の位置*/
    justify-content: center;
    align-items: center;
    height: 200px;

    
    /* 四角で囲む */
    border:ridge 50px rgb(83, 81, 87); 
    width: 50%;
    height: 50%;
    margin: 0 auto;

}

/*table全体のスタイル*/
.table {
    border-collapse: collapse;
}

/*table内のヘッダーとセルのスタイル*/
.table th, .table td{
    border: 1px solid rgb(65, 64, 64);
    padding: 5px;            /* セルの内側の余白を設定する */



    
}